.bridge-page {
  .page-card {
    width: 540px;
    border-radius: 8px;
    border: 1px solid hsla(217, 19%, 27%, 1);
    background-color: var(--page-card);
  }

  .tabs {
    border-bottom: 1px solid hsla(217, 19%, 27%, 1);
    .tab {
      & {
        color: hsla(218, 11%, 65%, 1);
        border-radius: 0;
        border-bottom: 3px solid transparent;
        margin-bottom: -1px;
      }
      &:hover {
        color: hsla(210, 20%, 98%, 1);
      }
      &.active {
        color: hsla(210, 20%, 98%, 1);
        font-weight: 600;
        border-bottom-color: #38ecbf;
      }
    }
  }
}
