@use '../../styles/mixins-vars/paddings.scss' as paddings;
@use '../../styles/mixins-vars/margins.scss' as margins;
@use '../../styles/font/family.scss' as font-family;
@use '../../styles/components/cards.scss' as cards;
@use '../../styles/font/size.scss' as font-size;

.token-input-group {
  & {
    padding: 1rem 1.5rem;
    border-radius: 1rem;
    background-color: var(--token-group);
    grid-template-columns: auto 1fr;
    grid-template-rows: auto 1fr auto;
    color: var(--default-alt);
    display: grid;
  }

  .token-picker-toggle {
    grid-column: 1 / 2;
    text-align: start;
    grid-row-start: 1;
    grid-row-end: 4;
    grid-row: 1 / 4;
  }

  .token-group-title {
    @include margins.margin('t', 0);
    @include margins.margin('b', 2);
    grid-column: 1 / 2;
    font-size: font-size.$text-m;
    text-align: start;
    grid-row: 1 / 2;
    font-weight: normal;
  }

  .token-group-title ~ .token-picker-toggle {
    grid-row-start: 2;
  }

  .token-group-balance {
    font-family: font-family.$console;
    font-size: font-size.$text-m;
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    text-align: end;
  }

  .token-group-value {
    font-family: font-family.$console;
    font-size: font-size.$text-m;
    grid-column: 2 / 3;
    grid-row: 3 / 4;
    text-align: end;
  }

  .token-group-input {
    & {
      font-family: font-family.$console;
      background-color: transparent;
      border: 0px none transparent;
      font-size: font-size.$input;
      color: var(--default-alt);
      grid-column: 2 / 3;
      text-align: end;
      grid-row-start: 1;
      grid-row-end: 4;
      grid-row: 1 / 4;
      outline: none;
    }

    &:disabled {
      color: var(--text-disabled);
      pointer-events: none;
    }
  }

  .input--zero {
    color: var(--text-alt);
  }

  .token-group-balance ~ .token-group-input {
    grid-row-start: 2;
  }

  .token-group-value ~ .token-group-input {
    grid-row-end: 3;
  }
}
