@use '../../styles/font/size.scss' as font;

$no-token-border-size: 2px;

.token-picker-toggle {
  & {
    & {
      grid-template-columns: auto 1fr;
      grid-template-rows: 1fr auto;
      display: grid;
    }

    .token-image {
      font-size: 3rem;
      align-self: center;
      text-align: center;
      grid-column: 1 / 2;
      grid-row: 1 / 3;
      margin-right: 0.3ch;
    }

    .token-symbol {
      align-self: end;
      grid-column: 2 / 3;
      grid-row: 1 / 2;
      font-size: font.$h4;
    }

    .token-chain {
      white-space: nowrap;
      grid-column: 2 / 3;
      grid-row: 2 / 3;
    }

    .no-selected-token {
      text-align: center;
      align-self: center;
      grid-column: 1 / 3;
      grid-row: 1 / 3;
    }
  }
}

.no-token-logo {
  & {
    display: inline-block;
    position: relative;
    height: 1em;
    width: 1em;
  }

  &::before,
  &::after {
    box-sizing: border-box;
    position: absolute;
    display: block;
    height: 100%;
    width: 100%;
    content: '';
    top: 0;
  }

  &::before {
    border: $no-token-border-size solid currentColor;
    border-radius: 50%;
  }

  &::after {
    background-color: currentColor;
    transform: rotateZ(45deg);
    left: calc(50% - #{$no-token-border-size});
    width: $no-token-border-size;
  }
}
