@use '../mixins-vars/paddings.scss' as paddings;
@use '../mixins-vars/margins.scss' as margins;
@use '../font/size.scss' as font-size;

@mixin card($index) {
  @include paddings.padding('x', $index + 1);
  @include paddings.padding('y', $index);
  border-radius: paddings.size($index);
  flex-direction: column;
  display: flex;
}

@for $index from 1 to length(paddings.$sizes) - 1 {
  .card-#{$index} {
    @include card($index);
  }
}

.card {
  @extend .card-2;
}

.page-card {
  background-color: var(--page-card);
  color: var(--text-default);
}

.card-row {
  flex-direction: row;
  display: flex;
}

.card-title {
  @include margins.margin('y', 2);
  font-size: font-size.$h2;
  text-align: center;
  width: 100%;
}
