@use '../mixins-vars/paddings.scss' as paddings;
@use '../theme/collections.scss' as colors;

.panel {
  @include paddings.padding('x', 4);
  @include paddings.padding('y', 3);
  border-radius: paddings.size(3);
  border: 0px none transparent;
}

@each $name in colors.$main {
  .panel-#{$name} {
    background-color: var(--#{$name});
    color: var(--#{$name}-alt);
  }

  .panel-#{$name}-inverse {
    background-color: var(--#{$name}-alt);
    color: var(--#{$name});
  }
}

.panel-primary {
  background-color: hsla(202, 57%, 33%, 1);
}
