@use '../mixins-vars/paddings.scss' as paddings;
@use '../theme/collections.scss' as colors;
@use '../theme/core.scss' as grays;
@use 'sass:map';

@each $name in colors.$main {
  .badge-#{$name} {
    display: flex;
    align-items: center;
    @include paddings.padding('x', 4);
    @include paddings.padding('y', 3);
    background-color: var(--#{$name});
    color: var(--#{$name}-alt);
    border: 0px none transparent;
    border-radius: 100vmax;
  }

  .text-#{$name} {
    color: var(--#{$name});
  }

  .text-#{$name}-inverse {
    color: var(--#{$name}-alt);
  }
}

.text-grid {
  & {
    grid-template-columns: auto 1fr;
    display: grid;
    width: 100%;
    gap: 0.5rem 1rem;
    font-size: 1.25rem;
  }

  & > .text-header {
    text-align: start;
    color: hsla(220, 9%, 46%, 1);
  }

  & > .text-value {
    text-align: end;
    color: hsla(216, 12%, 84%, 1);
  }

  // allow other colors inside text grids
  @each $name in colors.$main {
    & > .text-#{$name} {
      color: var(--#{$name});
    }
    & > .text-#{$name}-inverse {
      color: var(--#{$name}-alt);
    }
  }
}
