# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules

# testing
/coverage

# production
/build

# ignore chart library dependency
/public/charting_library

# ignore change log, it is auto-formatted by semantic release
CHANGELOG.md
