@use '../../styles/mixins-vars/margins.scss' as margins;

.swap-page {
  .page-card {
    width: 450px;
  }

  .card-row {
    & {
      @extend .marginy2;
    }

    .token-input-group {
      box-sizing: border-box;
      width: 100%;
    }

    .swap-button {
      margin: 0 auto;
    }
  }
}

// TODO add proper styling for both modes
.loading-token {
  opacity: 0.4;
}

.estimated-rate {
  opacity: 0.4;
}
