.swap-page {
  .page-card {
    width: 450px;
  }

  .token-input-group {
    box-sizing: border-box;
    width: 100%;
  }
}

// TODO add proper styling for both modes
.loading-token {
  opacity: 0.4;
}

.estimated-rate {
  opacity: 0.4;
}
