.range-list-slider-input {
  position: relative;
  &.disabled {
    opacity: 0.5;
  }

  .slider-input__background {
    position: absolute;
    width: 100%;
    justify-content: space-between;
    padding: 1px;
    .slider-input__track {
      height: 4px;
      width: 100%;
      margin-top: 4px;
      background-color: white;
      &.active {
        background-color: hsla(165, 83%, 57%, 1);
      }
    }
    .active {
      color: hsla(165, 83%, 57%, 1);
    }
  }

  input {
    appearance: none;
    position: relative;
  }
  /* --------------------------- webkit browsers */
  input::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 15px;
    height: 15px;
    border-radius: 10px;
    background-color: hsla(165, 83%, 57%, 1);
    overflow: visible;
    cursor: pointer;
  }
  /* -------------------------- Firefox */
  input::-moz-range-thumb {
    -moz-appearance: none;
    width: 15px;
    height: 15px;
    border-radius: 10px;
    background-color: hsla(165, 83%, 57%, 1);
    overflow: visible;
    cursor: pointer;
  }
  input::-moz-focus-outer {
    border: 0;
  }
}
