.chart-liquidity {
  flex: 1;
}

.chart-type--advanced {
  // restrict pointer events, only certain parts require interaction
  pointer-events: none;
}

.tick-buckets {
  .tick-bucket {
    transition: opacity 0.15s ease-in-out, d 0.15s ease-in-out;
    stroke-width: 0.125;
    opacity: 0.75;
  }

  .token-a {
    fill: hsl(262, 100%, 15%);
    stroke: hsl(262, 100%, 15%);
  }
  .token-b {
    fill: hsl(202, 76%, 30%);
    stroke: hsl(202, 76%, 30%);
  }
}
.chart-type--amm {
  .tick-bucket {
    cursor: pointer;
    &:hover {
      opacity: 1;
    }
  }
}

.new-ticks {
  pointer-events: none;
  stroke-width: 2px;
  stroke: hsl(37, 62%, 68%);
  .tip {
    stroke-width: 1px;
  }
  .token-a .tip {
    fill: hsl(262, 41%, 50%);
  }
  .token-b .tip {
    fill: hsl(202, 41%, 36%);
  }
  .tick--price-warning {
    .tip,
    .line {
      stroke: var(--error);
    }
  }
  .tick--hit-area {
    fill: transparent;
    stroke: none;
    cursor: move;
    pointer-events: visible;
  }
  .tick text {
    fill: hsl(37, 62%, 68%);
  }
  .tick--selected {
    stroke: var(--submit-button-bg);
  }
  .tick--selected text {
    fill: var(--submit-button-bg);
  }
  .line--diff {
    stroke-dasharray: 3px;
  }
  .tick--diff-negative {
    .line--diff,
    .tip--diff {
      stroke: var(--error);
    }
    .tip--diff {
      fill: var(--error);
    }
  }
  .tick--diff-positive {
    .line--diff,
    .tip--diff {
      stroke: rgb(0 200 136);
    }
    .tip--diff {
      fill: rgb(0 200 136);
    }
  }
  .tick--is-zero {
    .tip--diff {
      stroke: var(--error);
      fill: var(--error);
      opacity: 0.5;
    }
  }
}

.new-ticks-area {
  .line {
    stroke-width: 1px;
    stroke: hsl(37, 62%, 68%);
  }
  .pole-stick {
    stroke-width: 4px;
  }
  .pole-flag,
  .pole-to-flag {
    fill: hsl(37, 62%, 68%);
  }
  .pole-flag-stripe {
    fill: transparent;
    stroke: white;
    stroke-dasharray: 20 10;
  }
  .pole-flag--hit-area {
    fill: transparent;
    stroke: transparent;
    stroke-width: 10px;
    cursor: pointer;
  }
}

.axis {
  stroke-width: 1;
  stroke: var(--text-default);
}

.chart-liquidity {
  text {
    stroke-width: 0;
    fill: hsl(202, 76%, 60%);
    font-size: 12px;
  }
}
