.svg-container {
  display: flex;
  flex: 1;
  position: relative;
  overflow: hidden;
}

.chart-liquidity {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.chart-type--advanced {
  // restrict pointer events, only certain parts require interaction
  pointer-events: none;
}

.tick-buckets {
  .tick-bucket {
    transition: opacity 0.15s ease-in-out, y 0.1s ease, height 0.1s ease;
    stroke-width: 0.125;
    opacity: 0.75;
  }

  .token-a {
    fill: hsl(262deg, 41%, 50%);
    stroke: hsl(262deg, 41%, 50%);
  }
  .token-b {
    fill: hsl(202deg 58% 33%);
    stroke: hsl(202deg 58% 33%);
  }

  // make behind-enemy-lines buckets placed over main buckets a little less opaque
  &.tick-buckets--merged .tick-bucket.behind-enemy-lines {
    fill-opacity: 0.75;
  }
}
.chart-type--amm {
  .tick-bucket {
    cursor: pointer;
    &:hover {
      opacity: 1;
    }
  }
}

.new-ticks {
  pointer-events: none;
  stroke-width: 2px;
  stroke: hsl(202deg 58% 33%);
  .tip {
    stroke-width: 1px;
  }
  .token-a .tip {
    fill: hsl(262, 41%, 50%);
  }
  .token-b .tip {
    fill: hsl(202, 41%, 36%);
  }
  .tick--price-warning {
    .tip,
    .line {
      stroke: var(--error);
    }
  }
  .tick--hit-area {
    fill: transparent;
    stroke: none;
    cursor: move;
    pointer-events: visible;
  }
  .tick--selected {
    stroke: var(--submit-button-bg);
  }
  .tick text {
    display: none;
    fill: hsla(202, 50%, 84%, 1);
  }
  .tick--selected text {
    display: block;
  }
  &.edit-ticks {
    .tick text {
      display: block;
    }
    .tick--selected text {
      fill: var(--submit-button-bg);
    }
  }
  .line--diff {
    stroke-dasharray: 3px;
  }
  .tick--diff-negative {
    .line--diff,
    .tip--diff {
      stroke: var(--error);
    }
    .tip--diff {
      fill: var(--error);
    }
  }
  .tick--diff-positive {
    .line--diff,
    .tip--diff {
      stroke: rgb(0 200 136);
    }
    .tip--diff {
      fill: rgb(0 200 136);
    }
  }
  .tick--is-zero {
    .tip--diff {
      stroke: var(--error);
      fill: var(--error);
      opacity: 0.5;
    }
  }
}

.new-ticks-area {
  .line {
    stroke-width: 1px;
    stroke: transparent;
  }
  .flag-joiner--price-warning {
    stroke: var(--error);
  }
  .pole-stick {
    fill: url(#flag-pole-fade);
  }
  .pole-stick-edge {
    stroke-width: 1px;
    stroke: hsla(165, 83%, 57%, 0.5);
  }
  .pole-flag {
    fill: hsla(165, 83%, 57%, 1);
  }
  .pole-flag-stripe {
    fill: transparent;
    stroke: white;
    stroke-width: 3px;
    stroke-linecap: round;
  }
  .pole-flag--hit-area {
    fill: transparent;
    stroke: transparent;
    stroke-width: 10px;
    cursor: pointer;
  }
  .pole--price-warning {
    .pole-flag {
      fill: var(--error);
    }
    .pole-stick {
      fill: url(#flag-pole-fade-error);
    }
    .pole-stick-edge {
      stroke: var(--error);
    }
  }
}

.axis {
  stroke-width: 1;
  stroke: var(--text-default);
  > rect {
    fill: hsl(202deg 58% 33%);
    stroke-width: 0;
  }
  &.x-axis line {
    pointer-events: none;
  }
}

.chart-liquidity {
  text {
    stroke-width: 0;
    fill: hsl(216, 12%, 84%);
    font-size: 12px;
  }
  line.line--success {
    stroke: hsl(165, 83%, 57%);
  }
  text.text--success {
    fill: hsl(165, 83%, 57%);
  }
}
