.asset-list-card {
  .table-card__table {
    // style first column
    th,
    td {
      text-align: left;
      width: 60%;
      min-width: 7em;
    }
    // style second and third columns
    th + th,
    td + td {
      min-width: auto;
      text-align: right;
      width: 10%;
    }
    th + th + th,
    td + td + td {
      text-align: right;
      width: 30%;
      min-width: 10em;
    }
  }
}

.bridge-card {
  .dialog-content {
    border-radius: 8px;
    border: 1px solid hsla(217, 19%, 27%, 1);
    background-color: var(--page-card);
  }
  .dialog-header-row {
    border: none;
  }
}
