.pool-list-card {
  // allow token pair logos to overlap slightly
  .token-logo + .token-logo {
    margin-left: -20%;
  }
  // adjust row of token logo size due to overlapping token pair logos
  .row.flow-nowrap:has(.token-logo + .token-logo) {
    width: 3.35em;
  }
  // add fix for FireFox which does not support the :has() selector used above
  // link: https://bugzilla.mozilla.org/show_bug.cgi?id=418039
  // this solution looks different to other browsers, but at least the row size
  // looks aligned as there's no longer space to the left of the tokens column
  .row.flow-nowrap {
    justify-content: flex-start;
  }

  // because composition text is only ever numbers and capitals
  // there are no ascenders on descenders and the height may be reduced
  // to have rows of the same height if this cell is 1 or 2 lines high
  .token-composition {
    line-height: 1;
  }

  // because the table itself cannot set a width, set a reasonable
  // min-width here so that the table does not overflow scroll easily
  .table-card__table_container {
    min-width: 30em;
  }

  td.min-width {
    width: 0;
    white-space: nowrap;
  }
}
