@use '../../styles/mixins-vars/animations.scss' as animations;
@use '../../styles/theme/core.scss' as colors;

$border-width: 1px;
$border-radius: 0.75rem;
$inner-border-radius: calc($border-radius - 2 * $border-width);

.radio-button-group-switch {
  & {
    isolation: isolate;
    position: relative;
    flex: 1;
    display: flex;
    justify-content: stretch;
    border: 1px solid var(--token-search-bg);
    border-radius: $border-radius;
    overflow: hidden;
    background-color: var(--button-group-bg);
  }

  button {
    flex: 1 1 auto;
    opacity: 1;
    border-radius: $inner-border-radius;
    position: relative;
    transition: color ease 0.25s;
    color: var(--token-search-placeholder);
    &.active {
      color: var(--token-search-text);
    }
  }
  button:hover::before {
    content: ' ';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    border-radius: $inner-border-radius;
    background-color: var(--token-search-bg);
    z-index: -1;
  }
  button + button + button {
    margin-left: calc(-1 * $inner-border-radius);
    &.p-3,
    &.px-3,
    &.p-4,
    &.px-4 {
      margin-left: calc(-0.5 * $inner-border-radius);
    }
  }

  .moving-background {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 0;
    left: 0;
    top: 0;
    background-color: var(--default);
  }

  .non-moving {
    padding: 0.5rem 1rem;
    border: none;
  }

  .transition-ready {
    transition: left animations.$short-duration animations.$default-mode,
      width animations.$short-duration animations.$default-mode;
  }
}
