.no-liquidity .add-liquidity {
  font-size: 1.5rem;
  font-weight: 600;
}

.my-liquidity-page,
.my-liquidity-detail-page {
  .page-card {
    min-height: 30rem;
    min-width: 24rem;
    padding: 2rem 2rem;
  }

  .position-card > * {
    pointer-events: none;
  }

  .heading {
    margin: -2rem -2rem 0;
    width: calc(100% + 4rem);
    font-size: 2rem;
    position: relative;
    overflow: hidden;

    > .row {
      margin: 0.75rem 2rem;
    }

    .row,
    .col {
      overflow: visible;
    }

    .token-symbols {
      line-height: 1.1;
      font-weight: 500;
    }

    .token-icons img {
      width: 7.5rem;
      height: 7.5rem;
      margin-right: -1rem;
      object-fit: contain;
      margin-top: -0.75rem;
      position: absolute;
      top: 0;
      right: 7rem;
      opacity: 0.6;
    }
    .token-icons img + img {
      right: 2rem;
    }
  }
  .divider {
    margin: 0 -2rem;
    height: 8px;
    width: calc(100% + 4rem);
    background: linear-gradient(90deg, rgba(78, 177, 232, 0) 0%, #4eb1e8 100%);
  }

  .content {
    width: 100%;
  }

  .value-barchart {
    border-radius: 0.5rem;
    width: 100%;
    background-color: #8fcef0;
    overflow: hidden;
    margin: 0.5rem 0 0.25rem;

    .value-0 {
      height: 1em;
      background-color: #bfa1f7;
    }
  }

  .value-text {
    .value-0 {
      color: #bfa1f7;
    }
    .value-1 {
      color: #8fcef0;
    }
  }
}

.my-liquidity-detail-page {
  & {
    flex: 1;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }

  .banner {
    & {
      width: 100%;
      background: hsla(0deg, 0%, 0%, 0.6);
    }

    &::before,
    &::after {
      display: block;
      content: ' ';
      height: 8px;
      width: 100%;
      background: linear-gradient(
        90deg,
        #4eb1e8 0%,
        rgba(78, 177, 232, 0) 100%
      );
    }
    &::after {
      background: linear-gradient(
        90deg,
        rgba(78, 177, 232, 0) 0%,
        #4eb1e8 100%
      );
    }
  }

  .heading {
    & {
      margin: 0;
      width: auto;
    }
    .token-symbols {
      z-index: 2;
    }
    .token-icons {
      flex: 1 1 0%; // allow token column to shrink

      // make row fill token-icons column space, but not take any space itself
      position: relative;
      > .row {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        align-items: center;
        justify-content: flex-end;
        img {
          position: static;
          margin: 0;
          margin-left: -2rem; // add icon overlap
          height: 120%;
          width: auto;

          // see icons even when column has shrunken below their size
          overflow: visible;
          object-fit: cover;
        }
      }
    }
    .token-symbols {
      font-size: 1rem;
      h1 {
        font-size: 3rem;
      }
    }
  }
}
