@use '../../styles/mixins-vars/paddings.scss' as paddings;
@use '../../styles/font/weight.scss' as font-weight;
@use '../../styles/font/size.scss' as font-size;

.no-liquidity .add-liquidity {
  font-size: font-size.$h3;
  font-weight: font-weight.$medium;
}

.no-liquidity {
  align-items: center;
}

.my-liquidity-page {
  .value-barchart {
    border-radius: 0.5rem;
    width: 100%;
    background-color: #8fcef0;
    overflow: hidden;
    height: 1em;

    .value-A {
      height: 1em;
      background-color: #bfa1f7;
    }
  }

  .value-text {
    font-size: 0.85em;
    .value-A {
      color: #bfa1f7;
      text-align: left;
    }
    .value-B {
      color: #8fcef0;
      text-align: right;
    }
  }

  .home-hero-section {
    align-items: stretch;
    justify-content: stretch;
    > div {
      // take up as much width as allowed by flex-flow wrapping
      flex: 1 1 100%;
      height: 24em;
      max-height: 70vh;
    }
  }

  .asset-list-card {
    // ensure enough space to read current list without scrolling horizontally
    .table-card__table_container {
      min-width: 28em;
    }

    .table-card__table {
      // style first column
      th,
      td {
        text-align: left;
        width: 50%;
        min-width: 7em;
      }
      // style second and third columns
      th + th,
      td + td {
        text-align: right;
        width: 25%;
      }
    }
  }

  .pool-list-card {
    // ensure enough space to read current list without scrolling horizontally
    & {
      min-width: 32em;
    }
    .value-visual {
      min-width: 15em;
    }
  }

  .token-and-chain {
    .token-logo {
      height: 2em;
      width: 2em;
      object-fit: contain;
    }
    .token-logo + .token-logo {
      margin-left: -20%;
    }
  }
  // adjust row of token logo size due to overlapping logos
  .row.flow-nowrap:has(.token-logo + .token-logo) {
    width: 3.35em;
  }
}

.credit-card {
  min-height: 384px;
  min-width: 240px;
  aspect-ratio: 1.58588;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  background: hsla(202, 28%, 87%, 0.2);
  border-radius: 1rem;

  font-size: 1rem;
  // allow all shadows in the credit card to overflow
  &,
  .row,
  .col {
    overflow: visible;
  }

  .credit-card__top-line {
    font-size: 1rem;
    font-weight: font-weight.$bold;
    .credit-card__name {
      display: block;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
  .credit-card__hero-title {
    margin-top: 1rem;
  }
  .credit-card__hero-value {
    font-size: 2rem;
    font-weight: font-weight.$bold;
  }
  .credit-card__lesser-hero-value {
    font-weight: font-weight.$bold;
  }

  .button {
    background: var(--page-card);
    border-radius: 1.25rem;
    padding: 0.75rem 1.5rem;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.25);
  }
}
