@use '../../styles/mixins-vars/animations.scss' as animations;

.drawer {
  position: relative;
  overflow: hidden;
  transition: height animations.$short-duration;

  .drawer-panel {
    position: absolute;
    width: 100%;
    transition: height animations.$short-duration;
  }
}
