@use '../../../styles/mixins-vars/margins.scss' as margins;
@use '../../../styles/mixins-vars/paddings.scss' as paddings;
@use '../../../styles/mixins-vars/animations.scss' as animations;

.select-input {
  margin-top: margins.$m-3;
  margin-bottom: margins.$m-3;
  padding-top: paddings.$p-2;
  padding-bottom: paddings.$p-2;

  .select-input-selection {
    margin-bottom: margins.$m-3;
    padding: paddings.$p-4;
    background-color: hsla(202, 57%, 33%, 1);
  }

  .select-input-selection svg {
    transition: transform animations.$short-duration animations.$default-mode;
    transform: rotate(0deg);
  }
  &.expanded .select-input-selection svg {
    transform: rotate(180deg);
  }

  .select-input-options {
    display: flex;
    flex-direction: row;
    border-radius: paddings.$p-3;
    overflow: visible;
    overflow-y: hidden;
    margin: 0 -2px;

    .drawer-panel {
      padding: 0px 2px;
      bottom: 0;
    }

    .select-input-group--column {
      & {
        display: flex;
        flex: 1 1 auto;
        flex-direction: column;
        flex-wrap: nowrap;
        gap: 0;
        background-color: hsla(202, 57%, 33%, 1);
        border-radius: paddings.$p-3;
      }
    }
    .select-input-group--row {
      .select-input-option {
        flex: 1 1 auto;
      }
    }
    .select-input-group {
      & {
        padding-top: paddings.$p-3;
        padding-bottom: paddings.$p-3;
        margin-bottom: margins.$m-3;
      }
    }

    .select-input-option {
      label {
        display: flex;
        flex-direction: row;
        padding: paddings.$p-4;
        padding-top: paddings.$p-2;
        padding-bottom: paddings.$p-2;
        background-color: hsla(202, 57%, 33%, 1);
        // add barely noticable rounding to avoid looking flat/sharp
        border-radius: 2px;
      }
    }
    // only round corners of row options (not dropdown columns)
    .select-input-group--row .select-input-option {
      label {
        border-radius: paddings.$p-3;
      }
    }

    // invisible but present checkboxes for keyboard navigation
    input[type='checkbox'] {
      display: block;
      appearance: none;
      opacity: 0;
      width: 0;
      height: 0;
      & + label *:not(:has(> *)) {
        opacity: 0.6;
      }
      &:checked + label *,
      &:focus + label,
      &:active + label,
      + label:hover * {
        opacity: 1;
      }
      &:focus + label,
      &:active + label {
        outline: #fff solid 1px;
        // bump the z-index of the active element so outline can be easily seen
        position: relative;
      }
    }
  }
}
