main {
  // same as header width
  margin-top: 112px;
}

header,
.header {
  & {
    width: 100%;
    height: 112px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 3;
  }

  // add header background as only being visible when scrolled (over elements)
  // or when opened on mobile (also over other elements)
  & > .container,
  & > .container > * {
    position: relative;
  }
  & > .container::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    // ensure full 100vw width even when constrained to middle on large screens
    left: -100vw;
    right: -100vw;
    background: var(--bg);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
    transition: opacity 0.25s;
    opacity: 0;
  }
  &.scrolled > .container::before {
    opacity: 1;
  }

  // set single row height without overflow
  .row {
    height: 48px;
    flex-flow: nowrap;
    & > .col {
      height: 100%;
      overflow: hidden;
      justify-content: center;
    }
  }

  // allow logo to shrink faster than other columns
  .col:has(> .more-button) {
    flex-shrink: 0;
  }

  // style logo image
  .logo {
    img {
      display: block;
      max-height: 48px;
      width: 100%;
    }
  }

  button,
  .button {
    line-height: 1em;
    padding: 0.7rem 1rem;
    border: 1px solid transparent;
  }

  button.user-profile,
  .button.user-profile {
    width: 100%;
    max-width: 10em;
    background-color: var(--profile-button-bg);
    color: var(--profile-button-text);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0.5rem 1rem;
    border: 1px solid #4eb1e8;

    img {
      width: auto;
      height: 1.25rem;
      margin-bottom: 0.15rem;
    }
  }

  button.connect-wallet {
    border-radius: 0.4rem;
  }

  .text-truncate {
    overflow: hidden;
    text-overflow: ellipsis;
  }

  // banner style for default decent banner messages
  #banner:has(> div) {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2em;
    background-color: #2f78a0;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
  }
}
