@use '../../styles/mixins-vars/animations.scss' as animations;
@use '../../styles/mixins-vars/paddings.scss' as paddings;
@use '../../styles/mixins-vars/margins.scss' as margins;
@use '../../styles/components/links.scss' as links;
@use '../../styles/font/size.scss' as font-size;
@use 'sass:math';
@use 'sass:map';

$underline-height: 1px;

header,
.header {
  text-align: start;
  margin: map-get(margins.$sizes, '3') map-get(margins.$sizes, '4');
  width: calc(100% - #{map-get(margins.$sizes, '4') * 2});
}

nav,
.nav {
  & > a,
  & > .link {
    & {
      @extend .ghost-link;
      @extend .marginx2;
      font-size: font-size.$nav;
      position: relative;
    }

    &::before {
      transition: left animations.$short-duration animations.$default-mode,
        width animations.$short-duration animations.$default-mode;
      position: absolute;
      background-color: currentColor;
      bottom: #{math.div(map-get(paddings.$sizes, #{links.$ghost-padding-y}), 2)};
      height: $underline-height;
      display: block;
      content: '';
      left: 50%;
      width: 0%;
    }

    &.selected::before {
      width: calc(
        100% - #{map-get(paddings.$sizes, #{links.$ghost-padding-x}) * 2}
      );
      left: map-get(paddings.$sizes, #{links.$ghost-padding-x});
    }

    & > img,
    & > h1,
    & > .h1 {
      & {
        @extend .margin0;
        display: inline-block;
        font-size: inherit;
        height: 1em;
      }

      & + * {
        margin-left: 0.5ch;
      }
    }
  }
}
