@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700');

$default: 'DM Sans', 'Segoe UI', Helvetica, 'Droid Sans', Tahoma, Geneva,
  sans-serif;
$console: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;

* {
  font-family: $default;
}

.font-console {
  font-family: $console;
}

input.font-console {
  // allow inputs to be sized by ch width
  box-sizing: content-box;
}
