@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;600;700&family=Rubik:wght@500');

$default: 'DM Sans', sans-serif;
$brand: 'Rubik', 'DM Sans', sans-serif;

* {
  font-family: $default;
}

.font-brand {
  font-family: $brand;
  font-weight: 500;
}
