$text: 1rem;
$small: 0.75rem;
$xs: 0.625rem;

$h1: 3rem;
$h2: 2rem;
$h3: 1.5rem;
$h4: 1.25rem;
$h5: 1rem;
$h6: 0.75rem;
$nav: 1.5rem;

$button: 1rem;
$button-large: 1.5rem;
$input: 1.5rem;
$link: 1rem;

$sizes: (
  '0': 0.5rem,
  '1': 0.75rem,
  '2': 0.9rem,
  '3': 1rem,
  '4': 1.25rem,
  '5': 1.5rem,
  '6': 2rem,
);

.fs-text {
  font-size: $text !important;
}

.fs-small {
  font-size: $small !important;
}

.fs-xs {
  font-size: $xs !important;
}
