$text-m: 1rem; //      16px
$text-s: 0.875rem; //  14px
$text-xs: 0.625rem; // 10px

$token-logo-svg-list: 2.5rem;
$token-logo-svg: 3rem;

$h1: 3rem;
$h2: 2rem;
$h3: 1.5rem;
$h4: 1.25rem;
$h5: 1rem;
$h6: 0.75rem;

$nav: 1.5rem;

$button: 1rem;
$button-large: 1.5rem;
$input: 1.5rem;
$input-small: 1rem;
$link: 1rem;
