$regular: 400;
$medium: 500;
$bold: 600;
$heavy: 700;

.text-regular {
  font-weight: $regular !important;
}

.text-medium {
  font-weight: $medium !important;
}

.text-bold {
  font-weight: $bold !important;
}

.text-heavy {
  font-weight: $heavy !important;
}
