$m-0: 0rem;
$m-1: 0.125rem;
$m-2: 0.25rem;
$m-3: 0.5rem;
$m-4: 1rem;
$m-5: 2rem;
$m-6: 4rem;

$sizes: (
  '0': $m-0,
  '1': $m-1,
  '2': $m-2,
  '3': $m-3,
  '4': $m-4,
  '5': $m-5,
  '6': $m-6,
  'auto': auto,
);

@function size($size) {
  @return map-get($sizes, #{$size});
}

@mixin margin($type, $size, $important: false) {
  $value: map-get($sizes, #{$size});

  $abbrs: (
    'x': (
      'right',
      'left',
    ),
    'r': (
      'right',
    ),
    'l': (
      'left',
    ),
    'y': (
      'bottom',
      'top',
    ),
    'b': (
      'bottom',
    ),
    't': (
      'top',
    ),
    '*': (
      '',
    ),
  );

  $direction-list: map-get($abbrs, $type);

  @if not $value {
    @error "Invalid size #{$size}";
  }

  @if not $direction-list {
    @error "Invalid margin type #{$type}.";
  }

  @each $direction in $direction-list {
    $property-name: if($direction== '', 'margin', 'margin-#{$direction}');

    @if $important {
      #{$property-name}: $value !important;
    } @else {
      #{$property-name}: $value;
    }
  }
}

@mixin gap($type, $size, $important: false) {
  $value: map-get($sizes, #{$size});

  @if not $value or $value== 'auto' {
    @error "Invalid gap size #{$size}";
  }

  @if $type != 'x' and $type != 'y' and $type != '*' {
    @error "Invalid gap type #{$type}.";
  }

  $property-name: if(
    $type== 'x',
    'column-gap',
    if($type== 'y', 'row-gap', 'gap')
  );

  @if $important {
    #{$property-name}: $value !important;
  } @else {
    #{$property-name}: $value;
  }
}

@each $name, $size in $sizes {
  .m-#{$name} {
    @include margin('*', $name, $important: true);
  }

  .mx-#{$name} {
    @include margin('x', $name, $important: true);
  }

  .mr-#{$name} {
    @include margin('r', $name, $important: true);
  }

  .ml-#{$name} {
    @include margin('l', $name, $important: true);
  }

  .my-#{$name} {
    @include margin('y', $name, $important: true);
  }

  .mb-#{$name} {
    @include margin('b', $name, $important: true);
  }

  .mt-#{$name} {
    @include margin('t', $name, $important: true);
  }

  @if ($name != 'auto') {
    .gapx-#{$name} {
      @include gap('x', $name, $important: true);
    }

    .gapy-#{$name} {
      @include gap('y', $name, $important: true);
    }

    .gap-#{$name} {
      @include gap('*', $name, $important: true);
    }
  }
}
