.pool-chart-area {
  .chart__nav {
    border-bottom: 1px solid hsla(217, 19%, 27%, 1);
  }
  .chart__nav-left {
    button {
      & {
        color: hsla(218, 11%, 65%, 1);
        border-radius: 0;
        border-bottom: 3px solid transparent;
        margin-bottom: -1px;
      }
      &:hover {
        color: hsla(210, 20%, 98%, 1);
      }
      &.active {
        color: hsla(210, 20%, 98%, 1);
        font-weight: 600;
        border-bottom-color: #38ecbf;
      }
    }
  }

  .chart__header {
    font-size: 1.5rem;
    color: hsla(210, 20%, 98%, 1);
  }
  .chart__subheader {
    color: hsla(0, 0%, 50%, 1);
  }

  .visx-bar {
    fill: #4eb1e8;
  }
}
