@use '../../styles/mixins-vars/margins.scss' as margins;
@use '../../styles/mixins-vars/paddings.scss' as paddings;
@use '../../styles/font/family.scss' as font-family;
@use '../../styles/font/size.scss' as font-size;
@use 'sass:map';

$selected-fee-border-width: 1.5px;

.button-switch-group {
  border: 1px solid white;
  border-radius: 0.75rem;

  button {
    min-width: 10rem;
    border-radius: 0.75rem;
  }
  button:hover:not(.button-primary) {
    background-color: hsl(202deg, 76%, 20%);
  }
}

.pool-banner {
  width: 100%;
  background-color: hsla(0, 0%, 0%, 0.6);

  & > .row {
    padding: 0.75rem 4rem;
  }

  .row {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    gap: 2rem;

    .col-row {
      gap: 0.5rem;
      background-color: transparent;
      padding: 0;
    }
  }

  h2 {
    font-size: 1.25rem;
    font-weight: 500;
  }

  .token-image {
    height: 1.2rem;
    vertical-align: bottom;
    padding: 0.1rem 0;
  }

  .button-switch-group {
    margin: 0 1rem;
  }

  .icon-button {
    background-color: transparent;
    font-size: 1.5em;
    padding: 0;
  }
}

.pool-banner::before,
.pool-banner::after {
  display: block;
  content: ' ';
  height: 8px;
  width: 100%;
  background: linear-gradient(90deg, #4eb1e8 0%, rgba(78, 177, 232, 0) 100%);
}
.pool-banner::after {
  background: linear-gradient(90deg, rgba(78, 177, 232, 0) 0%, #4eb1e8 100%);
}

.spacer {
  flex-grow: 1;
}

.pool-page {
  & {
    @include margins.margin('y', 5);
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  .page-card {
    @include margins.gap('*', '2');
  }

  .card-header {
    @include margins.margin('b', 2);
    @include margins.margin('t', 0);
  }

  .card-title {
    font-size: font-size.$h4;
    text-align: start;
  }

  .card-header > .card-title {
    @include margins.margin('y', 0);
  }

  .assets-card {
    .token-input-group {
      box-sizing: border-box;
      width: 100%;
    }
    .pill {
      border: 3px solid transparent;
    }
    .pill-outline {
      background-color: transparent;
      border: 3px solid var(--submit-button-bg);
      &:hover,
      :active {
        background-color: rgba($color: rgb(78, 177, 232), $alpha: 0.2);
      }
    }
    .card-col {
      align-items: center;
    }
  }

  .fee-card {
    & {
      grid-column: 1 / 2;
      grid-row: 2 / 3;
    }

    .card-row {
      flex-grow: 1;
    }

    .radio-input-group {
      label {
        & {
          flex-basis: calc(50% - #{margins.$m-3});
          background: transparent;
          margin: margins.$m-1 auto;
          padding: 0;
        }

        .fee-type {
          & {
            margin-top: $selected-fee-border-width;
            font-size: font-size.$text-xs;
            flex-direction: column;
            text-align: center;
            display: flex;
          }

          .fee-title {
            @include margins.margin('y', 3);
            font-family: font-family.$console;
            font-size: font-size.$h5;
          }

          .fee-description {
            text-align: start;
          }
        }
      }

      input:checked + label .fee-type {
        border: $selected-fee-border-width solid var(--info);
        margin-top: 0;
      }
    }
  }

  .precision-card {
    & {
      grid-column: 1 / 2;
      grid-row: 3 / 4;
    }

    .range-step-input {
      border: 0px none transparent;
      margin-left: auto;
      border-radius: 0;
      padding: 0;
    }
  }

  .price-card {
    grid-column: 2 / 3;
    grid-row: 2 / 4;
  }

  .curve-card {
    grid-column: 3 / 4;
    grid-row: 2 / 4;
  }

  .pool-options {
    grid-column: 1 / 4;
    grid-row: 4 / 5;
  }

  @media screen and (max-width: 1315px) {
    & {
      grid-template-columns: 400px 492px;
      grid-template-rows: auto auto auto;
    }

    .assets-card {
      grid-column: 1 / 2;
      grid-row: 1 / 2;
    }

    .chart-card {
      grid-column: 2 / 3;
      grid-row: 1 / 2;
    }

    .fee-card {
      grid-column: 1 / 2;
      grid-row: 2 / 3;
    }

    .precision-card {
      grid-column: 1 / 2;
      grid-row: 3 / 4;
    }

    .price-card {
      grid-column: 2 / 3;
      grid-row: 2 / 3;
    }

    .curve-card {
      grid-column: 2 / 3;
      grid-row: 3 / 4;
    }

    .pool-options {
      grid-column: 1 / 3;
      grid-row: 4 / 5;
    }
  }

  @media screen and (max-width: 920px) {
    & {
      flex-direction: column;
      display: flex;
      width: 100%;
    }
  }

  .price-card > .card-row {
    justify-content: space-between;
    gap: margins.$m-4;
  }
}
