@use '../../styles/mixins-vars/paddings.scss' as paddings;

.orderbook-list {
  .orderbook-list__table {
    width: 100%;
    font-size: 0.75em;
    color: #f9fafb;
    border-spacing: 0;
    border-collapse: collapse;
    th {
      border-bottom: 1px solid var(--page-card-border);
    }
    .orderbook-list__table__tick-center {
      td {
        text-align: left;
      }
    }
    // add cell spacing
    & {
      th {
        padding: paddings.$p-2 paddings.$p-4;
      }
      td {
        padding: paddings.$p-1 paddings.$p-4;
      }
      // add more spacing on first row to align the spacing for whole table
      .orderbook-list__table__ticks-a tr:first-child td {
        padding-top: paddings.$p-3;
      }
    }
  }
}
