html,
body,
#root {
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
#root {
  overflow: scroll;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  min-width: 100%;
}

html {
  // use ~ average background color as background for HTML
  // is seen in eg. macOS if user tries to scroll past the end of the document
  background-color: #4a6980;
}
body {
  background: fixed var(--bg);
}
