@use '../../styles/font/size.scss' as font-size;

html,
body,
#root {
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  width: 100%;
}

body {
  background: var(--bg);
}

h1,
.h1 {
  font-size: font-size.$h1;
}

h2,
.h2 {
  font-size: font-size.$h2;
}

h3,
.h3 {
  font-size: font-size.$h3;
}

h4,
.h4 {
  font-size: font-size.$h4;
}

h5,
.h5 {
  font-size: font-size.$h5;
}

h6,
.h6 {
  font-size: font-size.$h6;
}
