html {
  background-color: white;
}

html,
body,
#root {
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

main,
.main-area {
  display: flex !important; // ChakraUI sets <main> display to block?
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  width: 100%;
}

body {
  background: fixed var(--bg);
}
