@use '../../../styles/mixins-vars/paddings.scss' as paddings;
@use '../../../styles/font/size.scss' as font-size;

.search-input {
  input {
    & {
      padding: paddings.$p-4 paddings.$p-5;
      appearance: none;
      border: 1px solid var(--token-search-border);
      background-color: var(--token-search-bg);
      font-size: font-size.$input-small;
      color: var(--token-search-text);
      border-radius: paddings.size(4);
      display: block;
      outline: none;
      width: 100%;
    }

    &::-webkit-search-decoration,
    &::-webkit-search-cancel-button,
    &::-webkit-search-results-button,
    &::-webkit-search-results-decoration {
      display: none;
    }
  }
}
