@use '../../../styles/mixins-vars/paddings.scss' as paddings;
@use '../../../styles/font/size.scss' as font-size;

.search-input {
  position: relative;

  svg {
    position: absolute;
    top: 1rem;
    bottom: 1rem;
    left: 1.2rem;
    margin: auto;
    pointer-events: none;
    color: var(--token-search-placeholder);
  }

  svg,
  input {
    font-size: font-size.$input-small;
  }

  // highlight search icon when search text has been entered
  &:has(input:not([value=''])) {
    svg {
      color: var(--token-search-text);
    }
  }

  input {
    & {
      color: var(--token-search-text);
      padding: 1rem 1rem 1rem 3rem;
      appearance: none;
      background: var(--token-search-bg);
      border: 1px solid var(--token-search-border);
      border-radius: 8px;
      display: block;
      outline: none;
      width: 100%;
    }

    &::placeholder {
      color: var(--token-search-placeholder);
    }

    // give interaction feedback
    &:active,
    &:focus,
    &:hover {
      border: 1px solid var(--token-search-text);
    }

    &::-webkit-search-decoration,
    &::-webkit-search-cancel-button,
    &::-webkit-search-results-button,
    &::-webkit-search-results-decoration {
      display: none;
    }
  }
}
