@use '../../../styles/mixins-vars/paddings.scss' as paddings;
@use '../../../styles/font/size.scss' as font-size;

.search-input {
  position: relative;
  background: #374151;
  border: 1px solid #4b5563;
  border-radius: 8px;

  svg {
    margin-right: auto;
  }

  svg,
  input {
    font-size: font-size.$input-small;
    color: var(--token-search-text);
  }

  input {
    & {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      padding: 1rem 1rem 1rem 3rem;
      appearance: none;
      background-color: transparent;
      border: none;
      display: block;
      outline: none;
      width: 100%;
    }

    &::-webkit-search-decoration,
    &::-webkit-search-cancel-button,
    &::-webkit-search-results-button,
    &::-webkit-search-results-decoration {
      display: none;
    }
  }
}
