@use '../../styles/mixins-vars/paddings.scss' as paddings;
@use '../../styles/mixins-vars/margins.scss' as margins;
@use '../../styles/font/size.scss' as font-size;

.tooltip {
  & {
    top: margins.$m-sm;
    right: -18px;
    position: absolute;
    font-size: inherit;
    cursor: help;
  }

  .tooltip-icon {
    @include paddings.padding('*', 1);
    border: 1px solid currentColor;
    font-size: 0.5em;
    border-radius: 50%;
    aspect-ratio: 1;
    display: block;
  }

  .tooltip-content {
    border: 1px solid var(--tooltip-border);
    background-color: var(--tooltip-bg);
    color: var(--tooltip-color);
    left: calc(100% + paddings.size(1));
    font-size: font-size.$text-s;
    position: absolute;
    display: none;
    z-index: 2;
    top: 0;
  }

  &:hover .tooltip-content {
    display: block;
  }
}
