$animation-duration: 50s;
$base-ord-bg: #1ecd97;

.orbs-bg {
  position: fixed;
  bottom: 0px;
  right: 0px;
  z-index: 0;
  top: 68px;
  left: 0;
}

.orbs-bg + * {
  position: relative;
  z-index: 1;
}

.y-shrink {
  transform: scaleY(var(--scale-ratio));
  transform-origin: 50% 0%;
  border-radius: 50%;
  position: absolute;
  aspect-ratio: 1;
  width: 100%;
  left: 0;
  top: 0%;
}

.y-expand {
  transform: scaleY(var(--scale-ratio));
  transform-origin: 50% 50%;
}

.orb-container {
  position: absolute;
}

.orb {
  background-color: $base-ord-bg;
  border-radius: 50%;
  overflow: hidden;
  height: 100%;
  width: 100%;
}

.rotate-slow {
  animation: rotation $animation-duration linear infinite;
  transform-origin: 50% 50%;
  height: 100%;
  width: 100%;
}

.counter-rotate-slow {
  animation: counter-rotation $animation-duration linear infinite;
  transform-origin: 50% 50%;
}

@keyframes rotation {
  from {
    transform: rotateZ(0deg);
  }

  to {
    transform: rotateZ(360deg);
  }
}

@keyframes counter-rotation {
  from {
    transform: rotateZ(0deg);
  }

  to {
    transform: rotateZ(-360deg);
  }
}
