.App {
  text-align: center;
}

.App-splash-screen {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  color: white;

  .logo {
    height: 200px;
  }
}
