/* bring in normalize.css styles first */
@import-normalise;

/* reset all margins and padding */
* {
  margin: 0;
  padding: 0;
}

/* reset default border elements */
fieldset {
  border: none;
}

/* reset box model */
/* https://css-tricks.com/box-sizing/#aa-universal-box-sizing-with-inheritance */
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

html {
  text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizelegibility;
  touch-action: manipulation;
}
