
/* add fixes for Internet Explorer */
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  /* Put your IE-only styles here. Works for IE 10 & IE 11*/
  /* for more see: https://github.com/philipwalton/flexbugs#flexbug-3 */
  html, body {
    height: 100%; /* fix IE flexbox height issues */
  }
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
