@import './theme/colors.scss';

// Tailwind base includes its own version of CSS reset styles
@tailwind base;
@tailwind components;
@tailwind utilities;

// base styles may be easily extended here
// see: https://tailwindcss.com/docs/adding-base-styles#using-css
// By using the @layer directive, Tailwind will automatically move those styles
// to the same place as @tailwind base to avoid unintended specificity issues.
@layer base {
  html,
  body {
    margin: 0;
    font-family: sans-serif;
    background-color: $background-color;
    color: $text-color;
  }
}

theme {
  --blue: hsl(206, 66, 70);
  --pink: hsl(303, 54, 80);
  --off-white: hsl(287, 42, 90);
  --grey-light: hsl(223, 45, 78);
}
