$light-white: hsl(218, 13%, 100%);
$white: hsl(218, 13%, 90%);
$dark-white: hsl(218, 12%, 84%);
$light-gray: hsl(218, 11%, 73%);
$gray: hsl(218, 10%, 53%);
$dark-gray: hsl(218, 10%, 49%);
$light-black: hsl(218, 30%, 20%);
$black: hsl(218, 40%, 6%);
$dark-black: hsl(218, 0%, 0%);

$bg-lighter: rgb(187, 226, 246);
$bg-light: rgb(78, 177, 232);
$bg-dark: rgb(18, 92, 135);
$bg-darker: rgb(12, 61, 90);
$light-blue: rgb(161, 211, 242);
