@function grayscale($scale) {
  @return rgb($scale, $scale, $scale);
}

$light-white: grayscale(255);
$white: grayscale(230);
$dark-white: grayscale(217);
$light-gray: grayscale(187);
$gray: grayscale(136);
$dark-gray: grayscale(125);
$light-black: grayscale(51);
$black: grayscale(16);
$dark-black: grayscale(0);

$bg-lighter: rgb(187, 226, 246);
$bg-light: rgb(78, 177, 232);
$bg-dark: rgb(18, 92, 135);
$bg-darker: rgb(12, 61, 90);
$light-blue: rgb(161, 211, 242);
