@use './core.scss' as core;

$text-default: core.$light-white;
$text-alt: core.$light-gray;
$text-disabled: core.$gray;

$primary: core.$bg-dark;
$primary-alt: $text-default;
$secondary: core.$light-gray;
$secondary-alt: $text-default;
$success: rgb(38, 128, 27);
$success-alt: $text-default;
$info: rgb(224, 184, 121);
$info-alt: $text-default;
$warning: rgb(218, 225, 137);
$warning-alt: $text-default;
$error: rgb(177, 81, 74);
$error-alt: $text-default;
$light: rgb(187, 225, 246);
$light-alt: $text-default;
$link: transparent;
$link-alt: core.$light-white;

$bg: conic-gradient(
  from 120deg at 50% 100%,
  core.$bg-light 0deg,
  rgba(core.$bg-light, 80%) 180deg,
  rgba(core.$light-white, 80%) 360deg
);

$ghost-button: $light;
$icon-button-bg: rgba(core.$dark-gray, 40%);
$icon-button-text: core.$white;
$submit-button-bg: core.$bg-light;
$submit-button-text: $primary-alt;

$input-text: core.$light-white;
$input-bg: transparent;

$token-group: core.$bg-dark;

$page-card: rgba(core.$dark-black, 60%);
$card-border: core.$bg-light;

$dialog-bg: core.$black;
$selected-token: core.$black;

$scrollbar: transparent;
$scrollbar-handle: core.$dark-white;
$scrollbar-handle-hover: core.$dark-white;

$tooltip-bg: core.$light-black;
$tooltip-color: core.$light-gray;
$tooltip-border: core.$bg-dark;

$map: (
  'text-default': $text-default,
  'text-alt': $text-alt,
  'text-disabled': $text-disabled,

  'primary': $primary,
  'primary-alt': $primary-alt,
  'secondary': $secondary,
  'secondary-alt': $secondary-alt,
  'success': $success,
  'success-alt': $success-alt,
  'info': $info,
  'info-alt': $info-alt,
  'warning': $warning,
  'warning-alt': $warning-alt,
  'error': $error,
  'error-alt': $error-alt,
  'light': $light,
  'light-alt': $light-alt,
  'link': $link,
  'link-alt': $link-alt,

  'bg': $bg,

  'ghost-button': $ghost-button,
  'icon-button-bg': $icon-button-bg,
  'icon-button-text': $icon-button-text,
  'submit-button-bg': $submit-button-bg,
  'submit-button-text': $submit-button-text,

  'input-text': $input-text,
  'input-bg': $input-bg,

  'token-group': $token-group,

  'page-card': $page-card,
  'card-border': $card-border,

  'dialog-bg': $dialog-bg,
  'selected-token': $selected-token,

  'scrollbar': $scrollbar,
  'scrollbar-handle': $scrollbar-handle,
  'scrollbar-handle-hover': $scrollbar-handle-hover,

  'tooltip-bg': $tooltip-bg,
  'tooltip-color': $tooltip-color,
  'tooltip-border': $tooltip-border,
);
