.radio-input-group {
  & {
    flex-direction: row;
    flex-wrap: wrap;
    display: flex;
    gap: 0.5rem;
  }

  input[type='radio'],
  input[type='checkbox'] {
    & {
      display: none;
    }
    & + label {
      box-sizing: border-box;
      text-align: center;
      cursor: pointer;
      display: block;
      flex: 0 0 auto;
    }
    & + label .button {
      border: 1px solid transparent;
    }
  }

  input[type='radio']:checked,
  input[type='checkbox']:checked {
    & + label .button {
      border-color: var(--info);
    }
  }
}
